SUPABASE_URL=https://vrxaiqgemjaskgdjeaat.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyeGFpcWdlbWphc2trZGVhYXQiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTcwOTYwMzYwMCwiZXhwIjoyMDI1MTc5NjAwfQ.QrJ4qZNooB2zWm7L3YtyWm7L3YtyWm7L3YtyWm7L3Yt 